@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --primary-color-dark: #fff;
    --secondary-color-dark: #333;
}

html {
    transition: all 0.5s ease-in;
}

body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    min-height: 100vh;
        overflow: hidden;

}

html.dark {
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
}

html.dark {
    background-color: #111;
    color: var(--primary-color);
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
    padding: 1.8rem;
}

.toggle {
    background-color: var(--primary-color);
    border: 0;
    border-radius: 0.3rem;
    color: var(--secondary-color);
    font-size: 1.2rem;
    padding: 0.6rem 0.7rem;
    align-self: flex-end;
}

.toggle:focus {
    outline: 0;
}

.clock {
    width: 12rem;
    height: 12rem;
}

.clock-ring {
    border: 0.2rem solid;
    border-radius: 50%;
    width: 13.5rem;
    height: 13.5rem;
    position: relative;
    background: radial-gradient(circle at center, #fff, #ccc);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2), inset 0 0.2rem 0.5rem rgba(0,0,0,0.1);
}

.needle {
    background-color: var(--primary-color);
    transition: all 0.5s ease-in;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: bottom center;
    width: 0.2rem;
    height: 5rem;
}

.needle.hour {
    height: 6rem;
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 5rem;
}

.needle.second {
    background-color: #e74c3c;
    height: 5.9rem;
    transform: translate(-50%, -100%) rotate(0deg);
}

.center-point {
    background-color: #e74c3c;
    border-radius: 50%;
    width: 0.625rem;
    height: 0.625rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center-point::after {
    background-color: var(--primary-color);
    transition: all 0.5s ease-in;
    border-radius: 50%;
    content: '';
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.time {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 0.3rem solid;
    border-radius: 2rem;
    backdrop-filter: blur(4px);
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
}

.date {
    font-size: 1.8rem;
    text-transform: uppercase;        
}


